@use "reset";
@use "variables" as *;

html {
  scroll-behavior: smooth;
}
body,
button,
input,
textarea {
  font-family: $body-font;
  font-size: 1rem;
}

button,
a {
  cursor: pointer;
}

body {
  background: $body-color;
  color: $txt-color;
  overflow-x: hidden;
}

.main {
  display: flex;
  gap: 2rem;
  overflow: hidden;
}

.container {
  max-width: $container-size;
  margin: 0 auto;
  padding: 0 $container-padding;
  width: 100%;

  &.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.books {
  width: 100%;
}

.card-container {
  padding: 46px 0;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.75rem;
  row-gap: 6rem;
}

.load-more {
  text-align: center;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 0.75rem 2rem;
  font-size: 0.75rem;
  border: 1px solid $border-color;
  background: transparent;
  color: $border-color;
  text-transform: uppercase;
  font-weight: $wgt-bold;

  &.inCart {
    color: $txt-color-light;
    border-color: $liliac-color;
  }
}

.button-icon {
  padding: 0.5rem;
  border: none;
  background: none;
}

@media (max-width: $breakpoint-md) {
  .card-container {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}
@media (max-width: $breakpoint-sm) {
  .main {
    flex-direction: column;
    gap: 10px;

    &.container {
      padding: 0;
    }
  }

  .card-container {
    padding: 0 20px;
  }
}