@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$pink-color: #FF8FE6;
$purple-color: #9E98DC;
$violet-color: #4C3DB2;
$violet-color-light: #756AD3;
$liliac-color: #EFEEF6;
$txt-color: #1C2A39;
$txt-color-light: #5C6A79;
$body-color: #FFFFFF;
$border-color: $violet-color;

$body-font: "Montserrat", sans-serif;

$container-size: 1180px;
$container-padding: 30px;

$wgt-bold: 700;
$wgt-bolder: 900;

$breakpoint-sm: 768px;
$breakpoint-md: 992px;